# Set line endings to LF, even on Windows. Otherwise, execution within Docker (or WSL or any other sh/bash on Windows not supporting CRLF) fails.
# See https://help.github.com/articles/dealing-with-line-endings/
# Or https://stackoverflow.com/questions/29603737/bash-seamlessly-run-scripts-with-crlf-line-endings/47187309
*.sh text eol=lf
*.py text eol=lf
*.pl text eol=lf
